<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" [(ngModel)]="city" placeholder="Enter City" name="city" [(ngModel)]="city" />

  </form>
</div>
<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img src="../assets/istockphoto-165669606-612x612.jpg" *ngIf="weatherData.main.temp > 59">
    <img src="../assets/night-7112331_1280.webp" *ngIf="weatherData.main.temp<= 65">
    <div class="weather-data">
      <div class="location">
        {{city}}
      </div>
      <div class="temperature">
        {{weatherData.main.temp| number :'1.0-0'}}°F
      </div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info">More info</div>
    <div class="more-info-container">
      <div class="info">
        <div class="info-block-label">
          <img
            src="../assets/163-1630195_cold-low-temperature-thermometer-weather-icon-icon-cold-thermometer-removebg-preview.png"
            alt="" srcset="">
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.temp_min}}°F
        </div>
      </div>
      <div class="info">
        <div class="info-block-label">
          <img src="../assets/pngtree-a-thermometer-showing-high-temperature-image_2291861-removebg-preview.png" alt=""
            srcset="">
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.temp_max}}°F
        </div>
      </div>
      <div class="info">
        <div class="info-block-label">
          <img
            src="../assets/png-transparent-moisture-computer-icons-humidity-others-desktop-wallpaper-weather-icon-humidity-removebg-preview.png"
            alt="" srcset="">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.humidity}}
        </div>
      </div>
      <div class="info">
        <div class="info-block-label">
          <img src="../assets/pngtree-vector-wind-icon-png-image_956094-removebg-preview.png" alt="" srcset="">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          {{weatherData.wind.speed}}km/hr
        </div>
      </div>

    </div>
  </div>
</div>
<router-outlet></router-outlet>